* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    animation: gradientChange 15s infinite alternate;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 25px;
}

.row input,
.row button {
    margin: 10px 0;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background: #ff715d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

.priority-dropdown {
    margin-left: auto;
    padding: 6px;
    font-size: 14px;
    margin: 0 auto;
}

.task {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-task {
    font-size: 22px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(135deg, #153677, #4e085f);
    color: white;
    font-size: 14px;
    padding: 25px 0;
    text-align: center;
}

.social-icons {
    margin-top: 15px;
}

.icon-link {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.icon-link:hover {
    color: #ff5945;
}


@keyframes gradientChange {
    0% {
        background: linear-gradient(135deg, #153677, #4e085f);
    }
    100% {
        background: linear-gradient(135deg, #4e085f, #153677);
    }
}

li.checked {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}


/* Adjustments for screens up to 768px wide */
@media (max-width: 768px) {
    .container {
        padding: 5px;
    }

    .todo-app {
        margin: 30px auto 20px;
        padding: 20px 15px 40px;
    }

    ul li {
        font-size: 14px;
    }

    ul li span {
        width: 25px;
        height: 25px;
        font-size: 16px;
        line-height: 25px;
    }
}
